extends layout


block content
  h1= Tables

  div(style='width:100%;height:100%')
    div(style:'float:left')
    each table in tables
      div(style='width:20%;height:300px;float:left;display:inline-block')
        img(src="/tables/?image="+table.file+".fs.jpg", alt=table.name style="display:block;width:100%;height:auto;")
        h2=table.name
    //img.backglass(src=image style="position:absolute;left:0px;top:0px;width:100%;height:100%")
    //div.swiper-pagination
  script.

    /*var tables = !{JSON.stringify(tables)}*/
    
